# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Data
BDD/
*.csv
*.pkl
*.joblib

# Models
models/

# Plots (optoinal, but often kept if small)
# eda_plots/
# evaluation_plots/

# Agent
.agent/
.gemini/

# Misc
.DS_Store
.venv
venv/
.env
